
.main-page .yearly-target .box{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    --color:red;
    margin-bottom: 10px;
}
.main-page .yearly-target .box.green{
    --color:#22C55E
}
.main-page .yearly-target .box.blue{
    --color: #0075FF;
}
.main-page .yearly-target .box.orange{
    --color:#F59E0B;
}
.main-page .yearly-target .box .icon{
    --size:70px;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    position: relative;
}
.main-page .yearly-target .box .icon i{
    position: relative;
}
.main-page .yearly-target .box .icon::before{
    content:"";
    position: absolute;
    background-color: var(--color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 20%;
}
.main-page .yearly-target .box .text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.main-page .yearly-target .box .text-container h3{
    line-height: 1.4;
    margin: 0;
    font-size: 16px;
}

.main-page .yearly-target .box .text-container .bar{
    position: relative;
    height: 5px;
    margin: 6px 0;
}
.main-page .yearly-target .box .text-container .bar::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--color);
    opacity: 10%;
    top: 0;
    left: 0;
    position: absolute;
}
.main-page .yearly-target .box .text-container .bar div{
    background-color:var(--color);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}
.main-page .yearly-target .box .text-container .bar span{
    transform: translateY(calc(-100% - 12px));
    color: white;
    font-size: 14px;
    background-color: var(--color);
    padding:10px 8px;
    border-radius: 10px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page .yearly-target .box .text-container .bar span::before{
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: -3px;
    transform: translateY(calc(100% + 3px));
    color: var(--color);
    font-weight: 900;
}